rules_version = '2';
service cloud.firestore {
  function isAdmin() {
    return request.auth != null &&
      request.auth.token.email in [
        'acostajohncarl33@gmail.com'
      ];
  }

  match /databases/{database}/documents {
    match /artifacts/{appId}/public_data/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Admin gate and private docs are only accessible to admins.
    match /artifacts/{appId}/private_data/{docId} {
      allow read, write: if isAdmin();
    }
  }
}
